.form-container {
    max-width: 600px;
    max-height: 600px;
    margin: 0 auto;
    padding: 50px;
    background-color: #e5e5e5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-group {
    margin-bottom: 15px;
}

.btn {
    display: block;
    width: 100%;
}

.btn-custom {
    background-color: #284b63;
    color: white;
    border: none;
    border-radius: 5px; /* Buton köşelerini yuvarlar */
    padding: 10px 20px; /* Butonun iç boşluklarını ayarlar */
    text-align: center; /* Metni ortalar */
    display: inline-block; /* Butonun satır içi blok olarak görüntülenmesini sağlar */
    font-size: 16px; /* Yazı boyutunu ayarlar */
    text-decoration: none; /* Metin altını çizer */
}

.btn-custom:hover {
    background-color: #1c3349; /* Butona üzerine gelindiğinde arka plan rengini değiştirir */
    color: #e0e0e0; /* Üzerine gelindiğinde metin rengini değiştirir */
}

.btn-custom:active {
    background-color: #1a2a37; /* Butona tıklanıldığında arka plan rengini değiştirir */
}

.hero {
    display: flex;
    justify-content: center;
    text-align: center;
}

.cardImg img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.cardImg {
    margin: 3rem;
}

.labelProfilePhoto {
    display: block;
    width: 80%;
    background-color: #e3362c;
    color: white;
    padding: 12px;
    margin: 20px auto;
    border-radius: 5px;
    cursor: pointer;
}

.inputImg {
    display: none;
}

.imagecard{
    margin: auto;
    padding: 13%;
}

.warning {
    color: red; /* Uyarı metnini kırmızı renkte yapar */
    font-weight: bold; /* Metni kalın yapar */
    font-size: 1rem; /* Metin boyutunu biraz küçültür */
    margin-left: 5px; /* Etiket ile uyarı arasında boşluk bırakır */
}
